body {
	font-family: "Indie Flower", cursive;
	font-weight: bolder;
	font-size: larger;
}
section {
	padding: 2rem 0;
	text-align: center;
	margin-top: 3rem;
}
.algo {
	width: 800px;
}
h1 span {
	color: #0275d8;
}
.desciption {
	padding: 1rem 0;
}
.cartable {
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
	width: 200px;
	z-index: -1;
}
.kids {
	position: absolute;
	top: 80%;
	right: 3%;
	width: 250px;
	z-index: -1;
}

.sacados,
.result {
	font-size: 1.5rem;
}
.sacados span,
.result span {
	color: #e91e63;
	font-weight: bold;
}
.objets {
	padding: 1rem 0;
}
table,
th,
td,
tr {
	border: 1px solid black;
}

th,
td {
	padding: 0.5rem;
	text-align: center;
}
.matrice {
	padding: 1rem 0;
}
.matrice span {
	font-size: 1.5rem;
}
.matrice table {
	margin-top: 2rem;
}
table {
	margin: auto;
}
